#container {
  margin-top: 50px;
  box-shadow: black;
}

* {
  background-color: royalblue;
}

#white-bg {
  background-color: white;
}

#white-bg-txt {
  background-color: white;
  font-size: 48px;
}

#nav-bg {
  background-color: lightgrey;
}

#black-txt {
  color: black;
}

.btn {
  margin-left: 30px;
  margin-right: 30px;
  background-color: darkblue;
}

#mark-img {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  max-height: 50%;
}

#img-size {
  margin-top: 10px;
  width: 250px;
  height: 250px;
  align-self: center;
}

.nav-item {
  margin-left: 50px;
  margin-right: 50px;
}

.card-text {
  margin-right: 20px;
  margin-left: 10px;
}