

.container {
  margin-top: 25px;
  box-shadow: black;
  background-color: lightsteelblue;
}

.nav-link {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-link {
  background-color: seagreen;
  color: white;
}

.nav-link:active {
  background-color: forestgreen;
}